[submodule "195-repo"]
	path = 195-repo
	url = https://github.com/jerry1ye10/cis-195-f20.git
[submodule "Calvin_Hu"]
	path = Calvin_Hu
	url = https://github.com/CalvinHu73/CIS195-Calvin-Hu.git
[submodule "jerry-submodule-test"]
	path = jerry-submodule-test
	url = https://github.com/jerry1ye10/submodule-demo195.git
[submodule "CIS-195-Work"]
	path = CIS-195-Work
	url = https://github.com/adarshr10/CIS-195-Work.git
[submodule "Adarsh_Rao"]
	path = Adarsh_Rao
	url = https://github.com/adarshr10/CIS-195-Work.git
[submodule "cathy_chen"]
	path = cathy_chen
	url = https://github.com/cccyyyr/CIS195.git
[submodule "allison_submodule"]
	path = allison_submodule
	url = https://github.com/alzhang99/CIS195.git
[submodule "Allison_Zhang"]
	path = Allison_Zhang
	url = https://github.com/alzhang99/CIS195.git
